# Tutorial Pandas: Merging Lanjutan

Selamat datang di tutorial lanjutan tentang penggabungan data (merging) menggunakan Pandas! Dalam tutorial ini, kita akan mempelajari berbagai teknik lanjutan untuk menggabungkan dan mengintegrasikan dataset.

## Daftar Isi:
1. Pengenalan Merging Lanjutan
2. Jenis-jenis Merge
   - Inner Join
   - Outer Join
   - Left Join
   - Right Join
3. Teknik Merge Lanjutan
   - Multiple Merging
   - Conditional Merging
   - Cross Join
4. Handling Duplicate Keys
5. Studi Kasus
6. Latihan

Mari kita mulai dengan mengimpor library yang diperlukan dan membuat beberapa dataset contoh:

In [1]:
# Import library yang diperlukan
import pandas as pd
import numpy as np

# Membuat dataset pelanggan
customers = pd.DataFrame({
    'customer_id': ['C001', 'C002', 'C003', 'C004', 'C005'],
    'name': ['John', 'Emma', 'Alex', 'Sarah', 'Mike'],
    'city': ['New York', 'London', 'Paris', 'Tokyo', 'Berlin']
})

# Membuat dataset orders
orders = pd.DataFrame({
    'order_id': ['O001', 'O002', 'O003', 'O004', 'O005', 'O006'],
    'customer_id': ['C001', 'C002', 'C002', 'C003', 'C006', 'C001'],
    'order_date': ['2024-01-01', '2024-01-02', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05'],
    'amount': [100, 150, 200, 300, 250, 180]
})

# Membuat dataset products
products = pd.DataFrame({
    'product_id': ['P001', 'P002', 'P003', 'P004'],
    'product_name': ['Laptop', 'Phone', 'Tablet', 'Watch'],
    'category': ['Electronics', 'Electronics', 'Electronics', 'Accessories']
})

# Membuat dataset order_details
order_details = pd.DataFrame({
    'order_id': ['O001', 'O001', 'O002', 'O003', 'O004', 'O005', 'O006'],
    'product_id': ['P001', 'P002', 'P001', 'P003', 'P002', 'P004', 'P001'],
    'quantity': [1, 2, 1, 1, 3, 2, 1]
})

print("Dataset Pelanggan:")
print(customers)
print("\nDataset Orders:")
print(orders)
print("\nDataset Products:")
print(products)
print("\nDataset Order Details:")
print(order_details)

Dataset Pelanggan:
  customer_id   name      city
0        C001   John  New York
1        C002   Emma    London
2        C003   Alex     Paris
3        C004  Sarah     Tokyo
4        C005   Mike    Berlin

Dataset Orders:
  order_id customer_id  order_date  amount
0     O001        C001  2024-01-01     100
1     O002        C002  2024-01-02     150
2     O003        C002  2024-01-02     200
3     O004        C003  2024-01-03     300
4     O005        C006  2024-01-04     250
5     O006        C001  2024-01-05     180

Dataset Products:
  product_id product_name     category
0       P001       Laptop  Electronics
1       P002        Phone  Electronics
2       P003       Tablet  Electronics
3       P004        Watch  Accessories

Dataset Order Details:
  order_id product_id  quantity
0     O001       P001         1
1     O001       P002         2
2     O002       P001         1
3     O003       P003         1
4     O004       P002         3
5     O005       P004         2
6     O006       P001         1

In [2]:
# Import library yang diperlukan
import pandas as pd
import numpy as np

# Membuat dataset pelanggan
customers = pd.DataFrame({
    'customer_id': ['C001', 'C002', 'C003', 'C004', 'C005'],
    'name': ['John', 'Emma', 'Alex', 'Sarah', 'Mike'],
    'city': ['New York', 'London', 'Paris', 'Tokyo', 'Berlin']
})

# Membuat dataset orders
orders = pd.DataFrame({
    'order_id': ['O001', 'O002', 'O003', 'O004', 'O005', 'O006'],
    'customer_id': ['C001', 'C002', 'C002', 'C003', 'C006', 'C001'],
    'order_date': pd.to_datetime(['2024-01-01', '2024-01-02', '2024-01-02', 
                                 '2024-01-03', '2024-01-04', '2024-01-05']),
    'amount': [100, 150, 200, 300, 250, 180]
})

# Membuat dataset products
products = pd.DataFrame({
    'product_id': ['P001', 'P002', 'P003', 'P004'],
    'product_name': ['Laptop', 'Phone', 'Tablet', 'Watch'],
    'category': ['Electronics', 'Electronics', 'Electronics', 'Accessories'],
    'price': [1200, 800, 500, 300]
})

# Membuat dataset order_details
order_details = pd.DataFrame({
    'order_id': ['O001', 'O001', 'O002', 'O003', 'O004', 'O005', 'O006'],
    'product_id': ['P001', 'P002', 'P001', 'P003', 'P002', 'P004', 'P001'],
    'quantity': [1, 2, 1, 1, 3, 2, 1]
})

print("Dataset Pelanggan:")
print(customers)
print("\nDataset Orders:")
print(orders)
print("\nDataset Products:")
print(products)
print("\nDataset Order Details:")
print(order_details)

Dataset Pelanggan:
  customer_id   name      city
0        C001   John  New York
1        C002   Emma    London
2        C003   Alex     Paris
3        C004  Sarah     Tokyo
4        C005   Mike    Berlin

Dataset Orders:
  order_id customer_id order_date  amount
0     O001        C001 2024-01-01     100
1     O002        C002 2024-01-02     150
2     O003        C002 2024-01-02     200
3     O004        C003 2024-01-03     300
4     O005        C006 2024-01-04     250
5     O006        C001 2024-01-05     180

Dataset Products:
  product_id product_name     category  price
0       P001       Laptop  Electronics   1200
1       P002        Phone  Electronics    800
2       P003       Tablet  Electronics    500
3       P004        Watch  Accessories    300

Dataset Order Details:
  order_id product_id  quantity
0     O001       P001         1
1     O001       P002         2
2     O002       P001         1
3     O003       P003         1
4     O004       P002         3
5     O005       P004         2
6     O006       P001         1

## 1. Jenis-jenis Merge

### Inner Join
Inner join hanya akan mengembalikan baris yang memiliki nilai yang cocok di kedua DataFrame. Ini adalah jenis merge default di Pandas.

In [3]:
# Inner Join antara orders dan customers
inner_merge = pd.merge(
    orders,
    customers,
    on='customer_id',
    how='inner'
)

print("Inner Join Result:")
print(inner_merge)

# Menampilkan informasi tentang baris yang hilang
print("\nJumlah baris di orders:", len(orders))
print("Jumlah baris di customers:", len(customers))
print("Jumlah baris setelah inner join:", len(inner_merge))

Inner Join Result:
  order_id customer_id order_date  amount  name      city
0     O001        C001 2024-01-01     100  John  New York
1     O002        C002 2024-01-02     150  Emma    London
2     O003        C002 2024-01-02     200  Emma    London
3     O004        C003 2024-01-03     300  Alex     Paris
4     O006        C001 2024-01-05     180  John  New York

Jumlah baris di orders: 6
Jumlah baris di customers: 5
Jumlah baris setelah inner join: 5

### Outer Join
Outer join akan mengembalikan semua baris dari kedua DataFrame, mengisi nilai yang tidak cocok dengan NaN.

In [4]:
# Outer Join antara orders dan customers
outer_merge = pd.merge(
    orders,
    customers,
    on='customer_id',
    how='outer'
)

print("Outer Join Result:")
print(outer_merge)

# Menampilkan informasi tentang nilai yang hilang
print("\nNilai yang hilang (NaN) per kolom:")
print(outer_merge.isnull().sum())

Outer Join Result:
  order_id customer_id order_date  amount   name      city
0     O001        C001 2024-01-01   100.0   John  New York
1     O006        C001 2024-01-05   180.0   John  New York
2     O002        C002 2024-01-02   150.0   Emma    London
3     O003        C002 2024-01-02   200.0   Emma    London
4     O004        C003 2024-01-03   300.0   Alex     Paris
5      NaN        C004        NaT     NaN  Sarah     Tokyo
6      NaN        C005        NaT     NaN   Mike    Berlin
7     O005        C006 2024-01-04   250.0    NaN       NaN

Nilai yang hilang (NaN) per kolom:
order_id       2
customer_id    0
order_date     2
amount         2
name           1
city           1
dtype: int64

### Left dan Right Join
- Left join mengembalikan semua baris dari DataFrame kiri dan hanya baris yang cocok dari DataFrame kanan
- Right join mengembalikan semua baris dari DataFrame kanan dan hanya baris yang cocok dari DataFrame kiri

In [5]:
# Left Join
left_merge = pd.merge(
    orders,
    customers,
    on='customer_id',
    how='left'
)

print("Left Join Result:")
print(left_merge)

# Right Join
right_merge = pd.merge(
    orders,
    customers,
    on='customer_id',
    how='right'
)

print("\nRight Join Result:")
print(right_merge)

Left Join Result:
  order_id customer_id order_date  amount  name      city
0     O001        C001 2024-01-01     100  John  New York
1     O002        C002 2024-01-02     150  Emma    London
2     O003        C002 2024-01-02     200  Emma    London
3     O004        C003 2024-01-03     300  Alex     Paris
4     O005        C006 2024-01-04     250   NaN       NaN
5     O006        C001 2024-01-05     180  John  New York

Right Join Result:
  order_id customer_id order_date  amount   name      city
0     O001        C001 2024-01-01   100.0   John  New York
1     O006        C001 2024-01-05   180.0   John  New York
2     O002        C002 2024-01-02   150.0   Emma    London
3     O003        C002 2024-01-02   200.0   Emma    London
4     O004        C003 2024-01-03   300.0   Alex     Paris
5      NaN        C004        NaT     NaN  Sarah     Tokyo
6      NaN        C005        NaT     NaN   Mike    Berlin

## 2. Teknik Merge Lanjutan

### Multiple Merging
Kita dapat menggabungkan lebih dari dua DataFrame secara berurutan untuk mendapatkan informasi yang lebih lengkap.

In [6]:
# Multiple merge untuk mendapatkan informasi lengkap tentang order
complete_orders = pd.merge(
    orders,
    customers,
    on='customer_id',
    how='left'
).merge(
    order_details,
    on='order_id',
    how='left'
).merge(
    products,
    on='product_id',
    how='left'
)

print("Complete Order Information:")
print(complete_orders[['order_id', 'name', 'product_name', 'quantity', 'amount', 'order_date']])

Complete Order Information:
  order_id  name product_name  quantity  amount order_date
0     O001  John       Laptop         1     100 2024-01-01
1     O001  John        Phone         2     100 2024-01-01
2     O002  Emma       Laptop         1     150 2024-01-02
3     O003  Emma       Tablet         1     200 2024-01-02
4     O004  Alex        Phone         3     300 2024-01-03
5     O005   NaN        Watch         2     250 2024-01-04
6     O006  John       Laptop         1     180 2024-01-05

### Conditional Merging
Kita dapat melakukan merge berdasarkan kondisi tertentu menggunakan parameter `left_on` dan `right_on`.

In [7]:
# Membuat dataset dengan nama kolom yang berbeda
orders_alt = orders.rename(columns={'customer_id': 'cust_id'})

# Conditional merge dengan nama kolom yang berbeda
conditional_merge = pd.merge(
    orders_alt,
    customers,
    left_on='cust_id',
    right_on='customer_id',
    how='inner'
)

print("Conditional Merge Result:")
print(conditional_merge)

Conditional Merge Result:
  order_id cust_id order_date  amount customer_id  name      city
0     O001    C001 2024-01-01     100        C001  John  New York
1     O002    C002 2024-01-02     150        C002  Emma    London
2     O003    C002 2024-01-02     200        C002  Emma    London
3     O004    C003 2024-01-03     300        C003  Alex     Paris
4     O006    C001 2024-01-05     180        C001  John  New York

### Cross Join (Cartesian Product)
Cross join akan menghasilkan semua kombinasi yang mungkin antara dua DataFrame.

In [8]:
# Cross join menggunakan merge dengan how='cross'
cross_join = pd.merge(
    customers[['name', 'city']],
    products[['product_name']],
    how='cross'
)

print("Cross Join Result (All possible combinations):")
print(cross_join)

Cross Join Result (All possible combinations):
     name      city product_name
0    John  New York       Laptop
1    John  New York        Phone
2    John  New York       Tablet
3    John  New York        Watch
4    Emma    London       Laptop
5    Emma    London        Phone
6    Emma    London       Tablet
7    Emma    London        Watch
8    Alex     Paris       Laptop
9    Alex     Paris        Phone
10   Alex     Paris       Tablet
11   Alex     Paris        Watch
12  Sarah     Tokyo       Laptop
13  Sarah     Tokyo        Phone
14  Sarah     Tokyo       Tablet
15  Sarah     Tokyo        Watch
16   Mike    Berlin       Laptop
17   Mike    Berlin        Phone
18   Mike    Berlin       Tablet
19   Mike    Berlin        Watch

## 3. Handling Duplicate Keys

Ketika melakukan merge dengan kunci yang duplikat, kita perlu memperhatikan beberapa hal:
1. Suffix untuk nama kolom yang sama
2. Penanganan nilai duplikat
3. Agregasi sebelum merge

In [9]:
# Menangani duplikat dengan suffix
merge_with_suffix = pd.merge(
    orders,
    order_details,
    on='order_id',
    suffixes=('_order', '_detail')
)

print("Merge with Suffix:")
print(merge_with_suffix)

# Agregasi sebelum merge
order_summary = orders.groupby('customer_id').agg({
    'amount': ['sum', 'count'],
    'order_date': 'max'
}).reset_index()

# Flatten column names
order_summary.columns = ['customer_id', 'total_amount', 'order_count', 'last_order']

# Merge dengan hasil agregasi
customer_summary = pd.merge(
    customers,
    order_summary,
    on='customer_id',
    how='left'
)

print("\nCustomer Summary with Aggregated Orders:")
print(customer_summary)

Merge with Suffix:
  order_id customer_id order_date  amount product_id  quantity
0     O001        C001 2024-01-01     100       P001         1
1     O001        C001 2024-01-01     100       P002         2
2     O002        C002 2024-01-02     150       P001         1
3     O003        C002 2024-01-02     200       P003         1
4     O004        C003 2024-01-03     300       P002         3
5     O005        C006 2024-01-04     250       P004         2
6     O006        C001 2024-01-05     180       P001         1

Customer Summary with Aggregated Orders:
  customer_id   name      city  total_amount  order_count last_order
0        C001   John  New York         280.0          2.0 2024-01-05
1        C002   Emma    London         350.0          2.0 2024-01-02
2        C003   Alex     Paris         300.0          1.0 2024-01-03
3        C004  Sarah     Tokyo           NaN          NaN        NaT
4        C005   Mike    Berlin           NaN          NaN        NaT

## 4. Studi Kasus: Analisis Penjualan

Mari kita terapkan berbagai teknik merge untuk menganalisis data penjualan secara komprehensif.

In [10]:
# 1. Menggabungkan semua informasi penjualan
complete_sales = pd.merge(
    orders,
    customers,
    on='customer_id',
    how='left'
).merge(
    order_details,
    on='order_id',
    how='left'
).merge(
    products,
    on='product_id',
    how='left'
)

# 2. Analisis penjualan per kategori produk
category_sales = complete_sales.groupby('category').agg({
    'amount': 'sum',
    'quantity': 'sum',
    'order_id': 'nunique'
}).reset_index()

category_sales.columns = ['Category', 'Total_Amount', 'Total_Quantity', 'Number_of_Orders']

# 3. Analisis pelanggan top
customer_sales = complete_sales.groupby(['customer_id', 'name', 'city']).agg({
    'amount': 'sum',
    'order_id': 'nunique',
    'product_id': 'nunique'
}).reset_index()

customer_sales.columns = ['Customer_ID', 'Name', 'City', 'Total_Spent', 'Orders_Count', 'Unique_Products']
customer_sales = customer_sales.sort_values('Total_Spent', ascending=False)

print("Analisis Penjualan per Kategori:")
print(category_sales)
print("\nTop Customers:")
print(customer_sales)

Analisis Penjualan per Kategori:
      Category  Total_Amount  Total_Quantity  Number_of_Orders
0  Accessories           250               2                 1
1  Electronics          1030               9                 5

Top Customers:
  Customer_ID  Name      City  Total_Spent  Orders_Count  Unique_Products
0        C001  John  New York          380             2                2
1        C002  Emma    London          350             2                2
2        C003  Alex     Paris          300             1                1

## 5. Latihan

Gunakan dataset yang telah kita buat untuk menyelesaikan soal-soal berikut:

1. Buat analisis produk yang paling sering dibeli bersamaan (product pairs)
2. Hitung rata-rata nilai order untuk setiap kota
3. Identifikasi pelanggan yang belum pernah melakukan pembelian
4. Analisis tren pembelian harian dengan informasi kategori produk
5. Buat ringkasan penjualan yang menampilkan:
   - Total penjualan per pelanggan
   - Produk yang paling sering dibeli
   - Kategori favorit
   - Rata-rata nilai pembelian

Berikut adalah template kode untuk memulai latihan:

In [ ]:
# Template untuk latihan

# Soal 1: Product pairs analysis
# Hint: Gunakan merge untuk menggabungkan order_details dengan dirinya sendiri

# Soal 2: Average order value per city
# Hint: Gabungkan orders dengan customers, kemudian groupby city

# Soal 3: Customers without orders
# Hint: Gunakan left join dan filter where orders are null

# Soal 4: Daily purchase trends by category
# Hint: Merge semua tabel dan analisis berdasarkan tanggal dan kategori

# Soal 5: Comprehensive sales summary
# Hint: Gunakan multiple merges dan agregasi

### Solusi Latihan

Berikut adalah solusi untuk latihan di atas. Cobalah untuk mengerjakan sendiri terlebih dahulu sebelum melihat solusi!

In [11]:
# Solusi Soal 1: Product pairs analysis
def analyze_product_pairs(order_details, products):
    # Merge dengan products untuk mendapatkan nama produk
    order_products = pd.merge(order_details, products[['product_id', 'product_name']], 
                            on='product_id')
    
    # Self-join untuk mendapatkan pasangan produk
    pairs = pd.merge(
        order_products,
        order_products,
        on='order_id'
    )
    
    # Filter hanya pasangan unik (A,B) tanpa (B,A)
    pairs = pairs[pairs['product_id_x'] < pairs['product_id_y']]
    
    # Hitung frekuensi pasangan
    pair_counts = pairs.groupby(['product_name_x', 'product_name_y']).size().reset_index()
    pair_counts.columns = ['Product 1', 'Product 2', 'Frequency']
    pair_counts = pair_counts.sort_values('Frequency', ascending=False)
    
    return pair_counts

# Solusi Soal 2: Average order value per city
def analyze_city_orders(orders, customers):
    city_orders = pd.merge(orders, customers, on='customer_id', how='left')
    city_summary = city_orders.groupby('city').agg({
        'amount': ['mean', 'sum', 'count']
    }).round(2)
    
    return city_summary

# Solusi Soal 3: Customers without orders
def find_inactive_customers(customers, orders):
    all_customers = pd.merge(
        customers,
        orders,
        on='customer_id',
        how='left'
    )
    
    inactive = all_customers[all_customers['order_id'].isnull()]
    return inactive[['customer_id', 'name', 'city']]

# Solusi Soal 4: Daily purchase trends by category
def analyze_daily_trends(orders, order_details, products):
    daily_sales = pd.merge(
        orders,
        order_details,
        on='order_id'
    ).merge(
        products,
        on='product_id'
    )
    
    trends = daily_sales.groupby(['order_date', 'category']).agg({
        'quantity': 'sum',
        'amount': 'sum'
    }).reset_index()
    
    return trends

# Solusi Soal 5: Comprehensive sales summary
def create_sales_summary(orders, customers, order_details, products):
    # Merge semua data
    complete_sales = pd.merge(
        orders,
        customers,
        on='customer_id',
        how='left'
    ).merge(
        order_details,
        on='order_id',
        how='left'
    ).merge(
        products,
        on='product_id',
        how='left'
    )
    
    # Customer summary
    customer_summary = complete_sales.groupby(['customer_id', 'name']).agg({
        'amount': ['sum', 'mean'],
        'order_id': 'nunique',
        'product_id': 'nunique'
    }).round(2)
    
    # Product popularity
    product_summary = complete_sales.groupby(['product_name', 'category']).agg({
        'quantity': 'sum',
        'amount': 'sum'
    }).sort_values('quantity', ascending=False)
    
    return customer_summary, product_summary

# Menampilkan hasil
print("1. Product Pairs Analysis:")
print(analyze_product_pairs(order_details, products))
print("\n2. City Order Analysis:")
print(analyze_city_orders(orders, customers))
print("\n3. Inactive Customers:")
print(find_inactive_customers(customers, orders))
print("\n4. Daily Purchase Trends:")
print(analyze_daily_trends(orders, order_details, products))
print("\n5. Sales Summary:")
customer_summary, product_summary = create_sales_summary(orders, customers, order_details, products)
print("Customer Summary:")
print(customer_summary)
print("\nProduct Summary:")
print(product_summary)

1. Product Pairs Analysis:
  Product 1 Product 2  Frequency
0    Laptop     Phone          1

2. City Order Analysis:
         amount
           mean  sum count
city
London    175.0  350     2
New York  140.0  280     2
Paris     300.0  300     1

3. Inactive Customers:
  customer_id   name    city
5        C004  Sarah   Tokyo
6        C005   Mike  Berlin

4. Daily Purchase Trends:
  order_date     category  quantity  amount
0 2024-01-01  Electronics         3     200
1 2024-01-02  Electronics         2     350
2 2024-01-03  Electronics         3     300
3 2024-01-04  Accessories         2     250
4 2024-01-05  Electronics         1     180

5. Sales Summary:
Customer Summary:
                 amount         order_id product_id
                    sum    mean  nunique    nunique
customer_id name
C001        John    380  126.67        2          2
C002        Emma    350  175.00        2          2
C003        Alex    300  300.00        1          1

Product Summary:
                          quantity  amount
product_name category
Phone        Electronics         5     400
Laptop       Electronics         3     430
Watch        Accessories         2     250
Tablet       Electronics         1     200

## Kesimpulan

Dalam tutorial ini, kita telah mempelajari:

1. Berbagai jenis merge di Pandas
   - Inner Join
   - Outer Join
   - Left Join
   - Right Join
   - Cross Join

2. Teknik merge lanjutan
   - Multiple merging
   - Conditional merging
   - Handling duplicate keys

3. Best practices dalam merging data
   - Penggunaan suffix untuk kolom yang sama
   - Agregasi sebelum merge
   - Penanganan nilai yang hilang

4. Aplikasi praktis dalam analisis data
   - Analisis penjualan
   - Customer analytics
   - Product analysis

Tips penting:
1. Selalu periksa jumlah baris sebelum dan sesudah merge
2. Gunakan parameter `validate` untuk memastikan integritas data
3. Pertimbangkan untuk melakukan agregasi sebelum merge jika diperlukan
4. Pilih jenis merge yang sesuai dengan kebutuhan analisis
5. Perhatikan penggunaan memori saat melakukan merge dengan dataset besar

Dengan pemahaman ini, Anda dapat melakukan analisis data yang lebih kompleks dan menghasilkan insights yang lebih mendalam dari dataset Anda.